.scheduler_default_event_inner {
    display: flex;
    justify-content: center;
}

.custom-event-scheduler-teacher {
    border-top: 4px solid #93c47d;
}

.custom-event-scheduler-assistant {
    border-top: 4px solid #ffe599;
}
